#logearse{
    padding: 50px 0;
    h2{
        text-align: center;
        padding-top: 50px;
    }
    p{
        text-align: center;
        padding-bottom: 60px;
    }
    .formulario{
        padding: 60px;
        width: 50%;
        margin: 0 auto;
        h4{
            padding-bottom: 40px;
        }
    }
}