/*ASI COMENTO EN ESTILOS*/
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------INDEX--------------------------------------------*/
header{

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);

}
.container{

    width: 1280px;
    margin: auto;

}
.nav_checkbox{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
}

.logo{

    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.tab-nav{
    outline: none;
    display: none;
}

.label{
    display: none;
    color: white;
}

.burger{
    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 5px;
}

.content_nav{
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content_nav li{
    display: inline-block;
    padding-right: 10px;
}

.content_nav li a{
    text-decoration: none;
    color: white;
    position: relative;
}

.content_nav li a::after{
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;
}

.content_nav li a:hover::after{
    transform: scale(1, 1);
}

@media screen and (max-width: 1280px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 770px){
    .label{
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }

    .content_nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }
    .nav_checkbox input:checked ~ .content_nav{
        max-height: 500px;
    }
    .content_nav li{
        padding: 15px 0px;
    }
}

/*-----NOSOTROS-------------------*/
section h2{
	color: black;
    font-family: 'Bebas Neue', cursive;
    padding: 20px;
    text-align: center;
}
.nosotros{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1100px;
    margin: auto;
}
.box{
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border: 3px solid black;
}

.box img{
    width: 100%;
    height: 100%;
}
.hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(0);
    transition: .3s ease;
}

.box:hover .hover{
    transform: scale(1);
}

@media only screen and (max-width: 700px){
    .box img{
        width: 60%;
        margin: 10px 0;
    }
}
@media only screen and (max-width: 500px){
    .box img{
        width: 100%;
    }
}
/*----------------------------------TIENDA----------------------------------------------------------*/
.productos{
    margin: 60px 12px;
    font-family: 'Bebas Neue', cursive;
}

span{
    /*width: 100%;
    height: 100%;*/
    padding: 10px 10px ;
    background: rgb(166, 232, 166);
    border-radius:  10px;
    color: black;
    justify-content: center;
    margin: 10px;
}
.menu-tienda{
    padding: 20px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tienda-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.image{
    display: block;
    width: 50%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 255, 255, 0.9);
}
.caption{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.thumbnail:hover{
    transform: translateY(-4px);
}
.img-container:hover .overlay{
    opacity: 1;
}


/*--------------------------------------SERVICIOS------------------*/



/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: black;
    font-family: 'Bebas Neue', cursive;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: rgb(134, 227, 134);
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

/*-------------------------------------FOOTER-----------------------------------------------------------------------------*/

.footer{
    background: rgb(12, 12, 12);
}
.productos-footer li a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;

}
h3{
    color: white;
    justify-content: center;
    padding: 10px;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}
.texto_footer{
    padding: 25px;
    margin: 25px;
}
.redes a i{
    font-size: 1.1rem;
    margin: 0 10px;
}
.redes a{
    list-style: none;
    color: white;
}

/*-------------------------------FORMULARIO-----------------------------*/
.estilos{
    color: black;
    line-height: 1.6;
    padding: 0 1.5em;
    font-family: 'Bebas Neue', cursive;
    background-image: url(imagenes/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.contenido{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;

}
.titulo{
    text-align: center;
    font-size: 30px;
    border: 1px solid white;
    background: white;
}
.contenido-comentarios{
    padding: 2em;
}
.forma-comentarios{
    background: #B7E49F;
}

.forma-comentarios form{
    margin: 0;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.forma-comentarios form .block {
    grid-column: 1 / 3;
}

.forma-comentarios form button,
.forma-comentarios form input,
.forma-comentarios form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: black;
    border-bottom: 1px solid white;
}
.forma-comentarios form button{
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    background: white;
}
/*info*/
.contacto-info{
    background: rgb(227, 239, 227) ;
}

.contacto-info h4, .contacto-info ul, .contacto-info p {
    text-align: center;
    margin: 0 0 2rem 0;
}


.contacto-info ul{
    list-style: none;
    padding: 0;
}
.contacto-info ul li{
    padding: .3em;
}


/* @media */
@media(min-width: 700px) {
    .estilos {
        padding: 0 4em;
    }
    .contenido-comentarios{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contenido-comentarios > * {
        padding: 2em;
    }
    .contacto-info h4,
    .contacto-info ul,
    .contacto-info p {
        text-align: left;
    }
}